



<div class='movie'>

<p><img src= "<%= @poster %>"></p>
<p> Title: <%= @title %> </p>

  <ul>

    <p> Year: <%= @year %></p>
    <p> Rated: <%= @rated %></p>
    <p> Runtime: <%= @runtime %></p>
    <p> Genre: <%= @genre %></p>
    <p> Director: <%= @director %></p>
    <p> Plot: <%= @plot %></p>
    <p> Actors: <%= @actors %></p>
  </ul>


</div>